{{#extends "base"}}

{{#block "content"}}

<h2 class="mt-3">Welcome to Eatery backend, Choose Your Option</h2>
   <div>
    <a href="/customers" class="btn btn-success">Customers</a>
</div>
<br>
   <div>
    <a href="/sales" class="btn btn-success">Sales</a>
</div>
<br>
   <div>
    <a href="/supplier_ordering" class="btn btn-success">Supply Ordering</a>
</div>
<br>
 <div>
    <a href="/inventory" class="btn btn-success">Inventory</a>
</div>
<br>
<div>
    <a href="/menu" class="btn btn-success">Menu</a>
</div>
<br>

{{/block}}

{{/extends}}